<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenu</ion-card-subtitle>
        <ion-card-title>{{ user.name }}</ion-card-title>
        <ion-card-title>{{ user.nom }}</ion-card-title>
      </ion-card-header>
    
    </ion-card>

</ion-content>
